{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.modifiedAt|date('Y-m-d H:i:s') }}</p>
    <p>{{ product.createdAt|date('Y-m-d H:i:s') }}</p>
    {# <a href="{{ path('app_cart_add', { id: product.id }) }}">Add to cart</a> #}
{% endblock %}